@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.navlist {
  list-style: none;
  width: 33%;
  background-color: white;
  color: black;
  border-radius: 0.3rem;
  padding-left: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  box-shadow: 2px 1px 15px -2px rgba(0,0,0,0.83);
  font-size: 11px;
  opacity: 40%;
  color: black; ;
}

::-webkit-scrollbar {
  display: none;
}
